.cell{

  height: 40px;
  width:  40px;
  border-radius: 50%;
  background:#ccc;
  float: left;
}
.App{
  max-width: 400px;

}
.buttongroup{
 margin: 0 auto;
 max-width: 500px;
}
.active{
  background: yellow;
}
button{
  padding: 11px;
  margin: 0 auto;
  
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #000;
margin: 4px;
  background: #fff;
  box-shadow: none;
}
button:hover{
  border: 1px solid #f489fd;
  color: #f489fd;
}
